body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background-image:url('backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    color:white;
}
#header-section{
    margin-top:18%;
}
#header-span{
    font-size: 14px;
    font-weight: normal;
}
#services{
    background-image:url('backgrounds/s_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    padding:50px 0;
    margin:15px auto;
}
#design,#development,#product{
    display:none;
}
.icon-headers{
    font-weight: bold;
}
h1,h2{
    font-family: 'Roboto', sans-serif;
}
#portfolio{
    grid-gap: 5px;
}
#portfolio img{
    width:100%;
}
#portfolio section{
    position:relative;
}
.text1,.text2,.text3,.text4,.text5,.text6,.text7,.text8{
    position: absolute;
    border: solid 2px white;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    text-align: left;
    padding:10px 10px 10px 10px;
    display: none;
    font-size:32px;
    z-index: 2;
    font-family: 'Roboto', sans-serif;;
}
.overlay{
    background-color: rgba(0,0,0,0.7);
}
#contacts{
    background-image:url('backgrounds/c_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-bottom: 40px;
}
input,textarea{
    background-color: transparent;
    width:50%;
    color: white;
    border:solid silver 2px;
}  
input{
    width:30%;
}
::placeholder {
    color:white;
}
footer{
    font-family: 'Roboto', sans-serif;
}
#social-icons{
    margin:30px auto;
}  
#social-icons img{
    margin-right:15px;
}
@media only screen and (max-width:700px){
    input,textarea{
        width:100%;
    }
}
